span ul {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(31, 30, 30);
    border: 1px solid #aaa;
    /* border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051; */
 }
 span input{
    background-color: black;
 }

     