{% extends "layout.html" %}
{% block title %}
    <title>change_password</title>
{% endblock  %}

{% block content %} 

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card shadow-lg" style="width: 30rem;">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Change Password</h3>
                <form action="{% url 'forgotPassword' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="usn" class="form-label">USN</label>
                        <input type="text" class="form-control" id="usn" name="usn" placeholder="Enter your USN" required>
                        <label for="sec" class="form-label">Section</label>
                        <input type="text" class="form-control" id="sec" name="sec" placeholder="Enter your Section" required>
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required>
                        <label for="confirm" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Re-enter the password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'student_login' %}" class="text-decoration-none">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
